body {
  background-color: #e5e5e5;
}
a {
  text-decoration: none;
  color: #212121;
}
p {
  color: #757575;
}
h1,
h2,
h3 {
  color: #212121;
}
.logo {
  font-family: raleway;
  font-size: 26px;
}
span {
  color: #2196f3;
}

.meny-nav {
  color: #212121;
  font-size: 14px;
  list-style: none;
}

.studio-nav:hover,
.studio-nav:focus {
  color: #2196f3;
}
.portfolio-nav:hover,
.portfolio-nav:focus {
  color: #2196f3;
}
.contacts-nav:hover,
.contacts-nav:focus {
  color: #2196f3;
}

.connection .mailto {
  color: #2196f3;
}
.connection .tel {
  color: #757575;
}
